"*":
  autosave:
    enabled: true
  core:
    automaticallyUpdate: false
    disabledPackages: [
      "about"
      "autocomplete-css"
      "autocomplete-html"
      "autocomplete-plus"
      "language-clojure"
      "language-csharp"
      "language-less"
      "language-make"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-php"
      "language-ruby"
      "language-ruby-on-rails"
      "language-sass"
      "language-sql"
      "markdown-preview"
      "metrics"
      "welcome"
      "spell-check"
      "language-gfm"
      "linter-markdown"
      "linter"
      "busy-signal"
      "intentions"
      "linter-ui-default"
      "tool-bar"
    ]
    packagesWithKeymapsDisabled: [
      "file-header"
      "markdown-writer"
    ]
    telemetryConsent: "no"
  editor:
    fontFamily: "Yahei Monaco Hybird"
    fontSize: 15
    scrollPastEnd: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
  "exception-reporting":
    userId: "b234dc94-8ac4-42e7-852e-66e11fb6b936"
  "file-header":
    autoAddingHeaderOnSaving: false
    dateTimeFormat: "dddd, MMMM Do YYYY, HH:mm"
    enableFilename: true
    ignoreListForAutoUpdateAndAddingHeader: [
      "text.plain.null-grammar"
      "text.html.basic"
    ]
    numOfEmptyLinesAfterNewHeader: 1
    username: "vauke"
  "linter-ui-default":
    panelHeight: 411
    showPanel: true
  "markdown-preview-enhanced":
    breakOnSingleNewLine: false
    frontMatterRenderingOption: "table"
    imageFolderPath: "./assets"
    pandocPath: "/usr/bin/pandoc"
    previewTheme: "one-dark.css"
  "markdown-table-editor":
    defaultAlignment: "center"
  minimap: {}
  "platformio-ide-terminal":
    core: {}
    style:
      fontSize: "16"
      theme: "one-dark"
  "tool-bar":
    fullWidth: false
    iconSize: "16px"
    position: "Bottom"
    useTouchBar: false
  "vim-mode-plus":
    autoDisableInputMethodWhenLeavingInsertMode: true
  welcome:
    showOnStartup: false
